{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h2>Langenfeld Piotr - Plan Andersa</h2>
    <p>
  Lato 1945. Sowiecki pochód na zachód grzęźnie pod alianckimi bombami. <br/>
Niepowodzenia na frontach i w tajnych misjach zaczynają kosztować Moskwę bardzo dużo.<br/>
Stalin traci cierpliwość...<br/>
Tymczasem sekrety wyrwane w krwawej walce przez śmiałą, polsko-amerykańską wyprawę, ukazują aliantom prawdziwe cele sowieckiej machiny...<br/>
Nadszedł czas działania, pora na „Plan Andersa”.
    </p>
</article>
{% endblock %}
