{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h2>Wojna o pieniądz - Hongbing Song</h2>
		<p>
			Skąd się biorą kryzysy finansowe? Aby odpowiedzieć na to pytanie, trzeba postawić kilka innych: <br/>
                        kto kontroluje emisję waluty? Kto zyskuje na inflacji? Komu zależy na drukowaniu papierowego pieniądza bez pokrycia w złocie? Kto pragnie uzależniać ludzi od kredytów?<br/> 
                        Do kogo należy amerykańska Rezerwa Federalna? <br/>
                        Po co stworzono Międzynarodowy Fundusz Walutowy? <br/>
                        A przede wszystkim: w jaki sposób prowadzona jest globalna wojna o pieniądz?<br/>
                        Song Hongbing, chiński analityk finansowy, stara się odpowiedzieć na te pytania, spoglądając na świat zachodni z zewnątrz i usiłując dociec, w którym momencie ta dynamicznie rozwijająca się cywilizacja popełniła błąd, który doprowadził do dzisiejszego permanentnego kryzysu i rosnącego zadłużenia. 
		</p>
</article>
{% endblock %}
